.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo img {
    height: 50px; 
  }
  
  .nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000;
  }
  
  .profile button {
    padding: 5px 10px;
    cursor: pointer;
  }